/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* font-family: "Montserrat Alternates", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}

body {
  padding: 0em;
  margin: 0em;
}

label {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  padding: 0.5em 0.25em ;
  margin: 0.7em 0em;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

select {
  color: gray;
}

option {
  white-space: normal;
}

fieldset {
  padding: 0.5em;
  margin: 1em 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0.05em rgba(0, 0, 0, 0.1);
}

button {
  margin: 0em 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  background-color: #76AF4488;
}

